<nav>
    <ul style="list-style-type: none; display: inline-flex">
        <li><a href="/">Home</a></li>
        <li>&nbsp;&nbsp;</li>
        <li><a href="/about">About</a></li>
        <li>&nbsp;&nbsp;</li>
        <li><a href="/users">Users</a></li>
    </ul>
</nav>

<div class="about">
    <h1>Tietoja meistä</h1>
    <p>
        Tervetuloa verkkosivuillemme, jotka on suunniteltu tarjoamaan autojen
        sekä auton varaosien myyntiä, ostoa ja vaihtoa. Meidän missionamme on
        auttaa sinua löytämään juuri se, mitä etsit ajoneuvojen ja niiden osien
        maailmasta.
    </p>
    <p>
        Olitpa etsimässä uutta autoa, luotettavaa käytettyä tai erikoisosia,
        voit löytää sekä käytettyjä että uusia auton osia. Tavoitteenamme on
        tehdä kaupankäynnistä kanssamme sujuvaa ja miellyttävää.
    </p>
</div>
