<nav>
    <ul style="list-style-type: none; display: inline-flex">
        <li><a href="/">Home</a></li>
        <li>&nbsp;&nbsp;</li>
        <li><a href="/about">About</a></li>
        <li>&nbsp;&nbsp;</li>
        <li><a href="/users">Users</a></li>
    </ul>
</nav>

{% with messages = get_flashed_messages() %} {% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %}

<form action="/edit/{{ message.id }}" method="post">
    <p>
        Viesti:<br />
        <textarea name="content" rows="5" cols="40">
{{ message.content }}</textarea
        >
    </p>
    <input type="submit" value="Lähetä" />
</form>
