<!doctype html>
<html>
    <head>
        <title>Kirjautuminen</title>
    </head>

    <nav>
        <ul style="list-style-type: none; display: inline-flex">
            <li><a href="/">Home</a></li>
            <li>&nbsp;&nbsp;</li>
            <li><a href="/about">About</a></li>
            <li>&nbsp;&nbsp;</li>
            <li><a href="/users">Users</a></li>
        </ul>
    </nav>
    <body>
        {% if session.username %}
        <p>Olet kirjautunut nimellä {{ session.username }}</p>
        <p>
            <a href="/logout">Kirjaudu ulos</a>
        </p>
        {% else %}
        <form action="/login" method="post">
            <p>
                Tunnus: <br />
                <input type="text" name="username" />
            </p>
            <p>
                Salasana: <br />
                <input type="password" name="password" />
            </p>
            <input type="submit" value="Kirjaudu" />
        </form>
        {% endif %} {% for thread in threads %}
        <p>
            <a href="/thread/{{ thread.id }}">{{ thread.title }}</a>
            <br />
            {{ thread.total }} viestiä, uusin {{ thread.last }}
        </p>
        <hr />
        {% endfor %} {% if session.user_id %}
        <a href="new_thread">
            <button type="button">Uusi ilmoitus</button>
        </a>

        {% endif %}
        <br />
        <br />
        <a href="/register">
            <button type="button">rekisteröidy</button>
            <br />
            <br />
            <br />
            <br />
        </a>
        <a href="/search">
            <button type="button">haku</button>
        </a>
    </body>
</html>
