<!doctype html>
<html>
    <head>
        <title>Ilmoitukset</title>
    </head>
    <nav>
        <ul style="list-style-type: none; display: inline-flex">
            <li><a href="/">Home</a></li>
            <li>&nbsp;&nbsp;</li>
            <li><a href="/about">About</a></li>
            <li>&nbsp;&nbsp;</li>
            <li><a href="/users">Users</a></li>
        </ul>
    </nav>
    <body>
        <h1>Ilmoitukset</h1>
        {% if threads|length == 0 %}
        <p>Ei ilmoituksia</p>
        {% else %} {% for thread in threads %}
        <div
            style="display: flex; align-items: flex-start; margin-bottom: 20px"
        >
            {% if thread.thumbnail %}
            <div style="flex: 0 0 auto; margin-right: 10px">
                <img
                    src="{{ url_for('serve_picture', picture_id=thread.thumbnail) }}"
                    alt="Thumbnail"
                    style="width: 100px; height: auto"
                />
            </div>
            {% endif %}
            <div style="flex: 1 1 auto">
                <a href="/thread/{{ thread.id }}">{{ thread.title }}</a>
                <br />
                {{ thread.category }} | Hinta: {{ thread.price }} €<br />
                {{ thread.total }} viestiä, uusin: {{ thread.last }}
                <br />
                Käyttäjä: <a href="/user/{{ thread.username }}">{{ thread.username }}</a>
            </div>
        </div>
        <hr />
        {% endfor %} {% endif %} {% if session.user_id %}
        <a href="/new_thread">
            <button type="button">Uusi ilmoitus</button>
        </a>
        {% endif %} {% if not session.username %}
        <br /><br />
        <a href="/login">
            <button type="button">Kirjaudu</button>
        </a>
        <br /><br />
        <a href="/create">
            <button type="button">Rekisteröidy</button>
        </a>
        {% endif %} {% if session.username %}
        <br /><br />
        <a href="/logout">
            <button type="button">Kirjaudu ulos</button>
        </a>
        {% endif %}
        <br /><br />
        <a href="/search">
            <button type="button">Haku</button>
        </a>

        <p>
            <a href="/{{ page - 1 }}">&lt;&lt;</a>
            Sivu {{ page }}/{{ page_count }}
            <a href="/{{ page + 1 }}">&gt;&gt;</a>
        </p>
        <hr />
    </body>
</html>
