<!doctype html>
<html>
    <head>
        <title>Ilmoitukset</title>
    </head>
    <nav>
        <ul style="list-style-type: none; display: inline-flex">
            <li><a href="/">Home</a></li>
            <li>&nbsp;&nbsp;</li>
            <li><a href="/about">About</a></li>
            <li>&nbsp;&nbsp;</li>
            <li><a href="/users">Users</a></li>
        </ul>
    </nav>
    <body>
        <h1>Ilmoitukset</h1>
        {% if threads|length == 0 %}
        <p>Ei ilmoituksia</p>
        {% else %} {% for thread in threads %}
        <p>
            <a href="/thread/{{ thread.id }}">{{ thread.title }}</a>
            <br />
            {{ thread.category }} <br />
            {{ thread.total }} viestiä, uusin: {{ thread.last }}
        </p>
        <hr />
        {% endfor %} {% endif %} {% for thread in threads %}
        <p>
            <a href="/thread/{{ thread.id }}">{{ thread.title }}</a>
            <br />
            {{ thread.category }} <br />
            {{ thread.total }} viestiä, uusin: {{ thread.last }}
        </p>
        <hr />
        {% endfor %} {% if session.user_id %}
        <a href="/new_thread">
            <button type="button">Uusi ilmoitus</button>
        </a>
        {% endif %} {% if not session.username %}
        <br /><br />
        <a href="/register">
            <button type="button">Rekisteröidy</button>
        </a>
        <a href="/login">
            <button type="button">Kirjaudu sisään</button>
        {% endif %}
        <br /><br />
        {% if threads|length == 0 %} {% else %}
        <a href="/search">
            <button type="button">Haku</button>
        </a>
        {% endif %}
    </body>
</html>
