<!doctype html>
<html>
    <head>
        <title>Rekisteröinti</title>
    </head>
    <body>
        <nav>
            <ul style="list-style-type: none; display: inline-flex">
                <li><a href="/">Home</a></li>
                <li>&nbsp;&nbsp;</li>
                <li><a href="/about">About</a></li>
                <li>&nbsp;&nbsp;</li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>

        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}

        <form action="/create" method="post" label="käyttäjätunnuksen luominen">
            <p>
                Tunnus: <br />
                <input
                    type="text"
                    name="username"
                    value="{{ filled.username }}"
                    maxlength="50"
                    required
                />
            </p>
            <p>
                Salasana: <br />
                <input
                    type="password"
                    name="password1"
                    value="{{ filled.password1 }}"
                    required
                />
            </p>
            <p>
                Salasana uudestaan: <br />
                <input
                    type="password"
                    name="password2"
                    value="{{ filled.password2 }}"
                    required
                />
            </p>
            <input type="submit" value="Luo tunnus" />
        </form>
    </body>
</html>
