<!doctype html>
<html>
    <head>
        <title>Rekisteröinti</title>
    </head>

    <nav>
        <ul style="list-style-type: none; display: inline-flex">
            <li><a href="/">Home</a></li>
            <li>&nbsp;&nbsp;</li>
            <li><a href="/about">About</a></li>
            <li>&nbsp;&nbsp;</li>
            <li><a href="/users">Users</a></li>
        </ul>
    </nav>

    <body>
        <form action="/create" method="post">
            <p>
                Tunnus: <br />
                <input type="text" name="username" />
            </p>
            <p>
                Salasana: <br />
                <input type="password" name="password1" />
            </p>
            <p>
                Salasana uudestaan: <br />
                <input type="password" name="password2" />
            </p>
            <input type="submit" value="Luo tunnus" />
        </form>
    </body>
</html>
