<nav>
    <ul style="list-style-type: none; display: inline-flex">
        <li><a href="/">Home</a></li>
        <li>&nbsp;&nbsp;</li>
        <li><a href="/about">About</a></li>
        <li>&nbsp;&nbsp;</li>
        <li><a href="/users">Users</a></li>
    </ul>
</nav>

<form action="/remove/{{ message.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
    <p>Haluatko varmasti poistaa viestin?</p>
    <input type="submit" name="continue" value="Jatka" />
    <input type="submit" name="cancel" value="Peruuta" />
</form>
