<!doctype html>
<html>
    <head>
        <title>Hakukone</title>
    </head>
    <body>
        <nav>
            <ul style="list-style-type: none; display: inline-flex">
                <li><a href="/">Home</a></li>
                <li>&nbsp;&nbsp;</li>
                <li><a href="/about">About</a></li>
                <li>&nbsp;&nbsp;</li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
        <h1>Hakukone</h1>
        <form action="/search" method="post">
            <p>
                Hakusana: <br />
                <input type="text" name="keyword" />
            </p>
            <input type="submit" value="Hae" />
        </form>

        {% if threads %}
        <h2>Hakutulokset hakusanalle "{{ keyword }}":</h2>
        <ul>
            {% for thread in threads %}
            <li>
                <a href="/thread/{{ thread.id }}">{{ thread.title }}</a>
                <p>Kategoria: {{ thread.category }}</p>
                <p>Viimeksi päivitetty: {{ thread.last_updated }}</p>
                <p>Viestejä: {{ thread.total_messages }}</p>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h2>Ei tuloksia hakusanalle "{{ keyword }}".</h2>
        {% endif %}
    </body>
</html>
