<!doctype html>
<html>
    <head>
        <title>Hakukone</title>
    </head>
    <body>
        <nav>
            <ul style="list-style-type: none; display: inline-flex">
                <li><a href="/">Home</a></li>
                <li>&nbsp;&nbsp;</li>
                <li><a href="/about">About</a></li>
                <li>&nbsp;&nbsp;</li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>

        <h1>Hakukone</h1>

        <!-- Display error message if available -->
        {% if error_message %}
        <p style="color: red">{{ error_message }}</p>
        {% endif %}

        <form action="/search" method="post">
            <p>
                Hakusana: <br />
                <input
                    type="text"
                    name="keyword"
                    value="{{ keyword|default('') }}"
                    required
                />
            </p>
            <input type="submit" value="Hae" />
        </form>

        {% if threads %}
        <h1>Ilmoitukset</h1>
        {% for thread in threads %}
        <div
            style="display: flex; align-items: flex-start; margin-bottom: 20px"
        >
            {% if thread.thumbnail %}
            <div style="flex: 0 0 auto; margin-right: 10px">
                <img
                    src="{{ url_for('serve_picture', picture_id=thread.thumbnail) }}"
                    alt="Thumbnail"
                    style="width: 100px; height: auto"
                />
            </div>
            {% endif %}
            <div style="flex: 1 1 auto">
                <a href="/thread/{{ thread.id }}">{{ thread.title }}</a>
                <br />
                Kategoria: {{ thread.category }} | Hinta: {{ thread.price }}
                €<br />
                {{ thread.total_messages }} viestiä, viimeksi: {{
                thread.last_updated }}
                <br />
                Käyttäjä:
                <a href="/user/{{ thread.user_id }}">{{ thread.username }}</a
                ><br />
            </div>
        </div>
        {% endfor %} {% else %} {% if keyword %}
        <h2>Ei tuloksia hakusanalle "{{ keyword }}".</h2>
        {% endif %} {% endif %}
    </body>
</html>
