    <nav>
        <ul style="list-style-type: none; display: inline-flex">
            <li><a href="/">Home</a></li>
            <li>&nbsp;&nbsp;</li>
            <li><a href="/about">About</a></li>
            <li>&nbsp;&nbsp;</li>
            <li><a href="/users">Users</a></li>
        </ul>
    </nav>


<h1>Käyttäjä {{ user.username }}</h1>

<p>Käyttäjä on lähettänyt {{ messages | count }} viestiä</p>

{% if messages %}
<p>Ensimmäinen viesti lähetetty {{ messages[-1].sent_at }}</p>
<p>Viimeisin viesti lähetetty {{ messages[0].sent_at }}</p>
{% endif %}
<ul>
    {% for message in messages %}
        Ilmoitus: <a href="/thread/{{ message.post_id }}#{{ message.id }}">
            {{ message.thread_title }}
        </a>
        <br>
        <br>
        Viesti lähetetty: ({{ message.sent_at }})
        <br>
        <br>
        Viestin sisältö:
        <br>
        <br>
        {{ message.content | show_lines }}
        <br>
        <br>
        <br>
    {% endfor %}
</ul>
